@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#lozinka{
  margin-left: 5px;
}
html{
  
  width: 100vw;
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}



#logo{
  width: 100px;
  height: auto;
  margin-right: 30px;
  margin-left:30px;
}
#ikonica{
  margin-right: 10px;
  margin-left: 10px;
}


//UNOS U TABELU    ---------------------------------------------------------------------------------------------------

.wrapperTabela {
  background-color: #000;
  display: flex;
  min-height: 100vh; /* Set the minimum height to fill the viewport */
  width: 100vw;
  flex-direction: row;
  position: relative;
  height: 100%;
}


.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 540px;
  padding: 20px;
  width: 320px;
  margin-top: 55px;
  margin-left: 55px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.input:focus{
  background-color: #50536f;
}
.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: rgb(7, 107, 170);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}




//TABELA  --------------------------------------------------------------------------------

.stranicaTabelaTabela{
  margin-top: 43px;
}

.tableHome{
  margin-top: 75px;
  margin-left: 55px;
  width: 780px;
  table-layout: fixed;
  background-color: #15172b;
  border: 2px solid #61dafb;
  color: white;
  text-align: center;
  margin-bottom: 65px;
  
}

td{
  word-wrap: break-word;
  padding: 5px;
}

.naslov{
  color: white;
  margin-left: 60px;
}

.idKolona{
  width: 4%;
}

.dugmeKolona{
  width: 9%;
}







//POPUP  ---------------------------------------------------------------------------------

.popup {
  background-color: #15172b;
  border-radius: 5px;
  box-sizing: border-box;
  height: 560px;
  padding: 20px;
  width: 340px;
  margin-top: -80px;
}
.dugme{
  background-color: rgb(7, 107, 170);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.modal{
  margin-top: -20px;
}







//SIDEMENU     -------------------------------------------------------------------------------

.hamburger-menu{
  z-index: 999;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #262a52;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none !important; 
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: rgb(102, 157, 240);
  color: black !important;
  width: 100%;
}

.logoutBtn{
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none !important; 
  transition-duration: .25s;
  width: 100%;
}
.logoutBtn:hover {
  background-color: rgb(102, 157, 240);
  color: black !important;
  width: 100%;
}


//API TABELA     -----------------------------------------------------------------------------

@page {
  margin-top: 50px;
  margin-bottom: 43px;
}
@media print {
  .tabelaOmotacPrint {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .apiTable {
    background-color: #fff !important;
    color: #000 !important;
    border-color: #000 !important;
  }

.apiTable th,
.apiTable td {
  border: 1px solid black !important;
}

.apiTable td {
  border: 1px solid black !important;
}
}

.apiTable{
  margin-top: 75px;
  width: 880px;
  table-layout: fixed;
  background-color: #15172b;
  border: 2px solid #61dafb;
  color: white;
  text-align: center;
}

.apiTable th,
.apiTable td {
  border: 1px solid white;
}

.apiTable tr:hover {
  background-color: #272a52;
}

.apiTable td {
  border: 1px solid white;
}

.wrapperTabelaApi {
  background-color: #000;
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
}

.tabelaPrikaz{
  display: flex;
  flex-direction: column;
  margin-bottom: 43px;
}

.tipKolona{
  width: 5%;
}

.datumKolona{
  width: 12%;
}

.naslovApi{
  color: white;
}

.filter{
  display: flex;
  flex-direction: row;
}

.fetchDugme{
  width:120px;
  height: 43px;
  margin-top: 3px;
  margin-right: 13px;
  background-color: rgb(7, 107, 170);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  // outline: 0;
  text-align: center;
}

.fetchDugme:hover{
  background-color: rgb(5, 85, 134);
}
.fetchDugme:active{
  background-color: rgb(23, 134, 202);
}

.exportDugme{
  width:140px;
  height: 43px;
  margin-top: 3px;
  margin-right: 13px;
  background-color: rgb(7, 107, 170);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  // outline: 0;
  text-align: center;
}

.exportDugme:hover{
  background-color: rgb(5, 85, 134);
}
.exportDugme:active{
  background-color: rgb(23, 134, 202);
}
.ic4 {
  margin-right: 15px;
  width: 300px;
  
}

.apiTable{
  margin-top: 75px;
  width: 880px;
  table-layout: fixed;
  background-color: #15172b;
  border: 2px solid #61dafb;
  color: white;
  text-align: center;
}


.apiTable th,
.apiTable td {
  border: 1px solid white;
  padding: 8px;
}

.apiTable tr:hover {
  background-color: #272a52;
}

.apiTable td {
  border: 1px solid white; /* set border color to white */
}


//SPRING API TABLE

.apiSpringTable{
  margin-top: 75px;
  width: 780px;
  table-layout: fixed;
  background-color: #15172b;
  border: 2px solid #61dafb;
  color: white;
  text-align: center;
}

.apiSpringTable th,
.apiSpringTable td {
  border: 1px solid white;
}

.apiSpringTable tr:hover {
  background-color: #272a52;
}

.apiSpringTable td {
  border: 1px solid white;
}

.konto{
  width: 10%;
}

.pozicija{
  width: 65%;
}

.iznos{
  width: 25%;
}



//GRAFIK   ---------------------------------------------------------------------------------

.graphPage{
  background-color: #000;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.graphDugme{
  width:120px;
  height: 43px;
  background-color: rgb(7, 107, 170);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  // outline: 0;
  text-align: center;
}

.trakaDugmad{
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontalnaTraka{
  display: flex;
  flex-direction: row;
}

#myChart{
  height: 500px;
  display: flex;
  margin: 43px;
  margin-top: 2px;
  width: 67vw;
  margin-right: 80px;
}

.formaGraph{
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin-top: -20px;
  height: fit-content;
  width: 320px;
}

.formaDugmad{
  max-width: 310px;
  max-height: 60px;
  justify-content: center;
  align-items: center;
}

.b1 {
  background-color: rgb(7, 107, 170);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 43px;
  // outline: 0;
  text-align: center;
  width: 28%;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 6px;
  margin-right: 6px;
}

.cut-short-graph {
  width: 135px;
}



//////////////////////////////REPORT

.report{
  
  background-color: #000;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}



#chartContainer{
  height: 400px;
  display: flex;
  margin: 43px;
  margin-top: 22px;
  margin-left: 10px;
}

#chartContainer2{
  height: 400px;
  display: flex;
  margin: 43px;
  margin-left: 10px;
  margin-top: -22px;
}









///////////////////////////////////

/* Styles for mobile devices */
@media screen and (max-width: 480px) {
  .wrapperTabelaApi,
  .wrapperTabela {
    display: flex;
    min-height: 350vh;
    width: 350%;
    flex-direction: row;
    position: relative;
}

.graphPage{
  min-height: 350vh;
  width: 350%;
}
#myChart{
  width: 700px;
}
.horizontalnaTraka{
  margin-top: 30px;
}
.stranicaTabelaTabela{
  margin-right: 40px;
}
}

/* Styles for tablets */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .wrapperTabelaApi,
  .wrapperTabela {
    display: flex;
    min-height: 350vh;
    width: 350%;
    flex-direction: row;
    position: relative;
}
.graphPage{
  min-height: 350vh;
  width: 350%;
}
#myChart{
  width: 1500px;
}
.horizontalnaTraka{
  margin-top: 30px;
}
}

/* Styles for desktop and larger screens */
@media screen and (min-width: 1025px) {
  .wrapperTabela {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: row;
    position: relative;
}
}